@model YoVoy.Web.Models.ErrorViewModel
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>No Encontrado</title>
    <meta name="keywords" content="404 iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    @Styles.Render("~/bundles/errores")
</head>
<body>
    <!--start-wrap--->
    <div class="wrap">
        <!---start-header---->
        <div class="header">
            <div class="logo">
                <h1><a href="#">@Model.Encabezado</a></h1>
            </div>
        </div>
        <!---End-header---->
        <!--start-content------>
        <div class="content">
            <img src="~/Content/errorimages/error-img.png" title="error" />
            <p><span><label>O</label>hh.....</span>@Model.Mensaje</p>
            <a href=@Url.Action(Model.Action,Model.Controller)>@Model.IrAlHome</a>
            <div class="copy-right">
                <p>&#169 All rights Reserved | Designed by <a href="http://w3layouts.com/">W3Layouts</a></p>
            </div>
        </div>
        <!--End-Cotent------>
    </div>
    <!--End-wrap--->
</body>
</html>
