@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Av. Diez Canseco S/N<br />
    Miraflores, Lima<br />
    <abbr title="Phone">P:</abbr>
    999-658789
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@cibertec.edu.pe">Support@cibertec.edu.pe</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@cibertec.edu.pe">Marketing@cibertec.edu.pe</a>
</address>