
@{
    ViewBag.Title = "Multiples";
}

<h2>Subiendo Multiples Archivos</h2>


@using (Html.BeginForm("Multiples",
                    "Imagenes",
                    FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label>Seleccione una Archivo</label>
        <input type="file" name="archivos"  multiple class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Grabar"  class="btn btn-success" />
    </div>
}

